
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome</h2>
<br/>
No Account yet? @Html.ActionLink("Signup Now!", "SignUp", "Account")
<br/>
Have Account yet? @Html.ActionLink("Login Now!", "LogIn", "Account")